<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Your Todos for <%= DateTime.now.strftime("%m/%d/%Y") %>&#160;</a>
      <b class="navbar-brand" href="/"> It is now <%= DateTime.now.to_s(:time) %></b>
    </div>
  </div>
</nav>
