<h2>
<ul class="nav nav-tabs" role="tablist", background-color: "#364a7d">
  <li><%= link_to 'View list', todos_path %></li>
  <li class="active"><%= link_to 'New todo', new_todo_path %></li>
</ul>
</h2>
<h1>New Todo</h1>

<%= render 'form' %>

<%= link_to 'Back', todos_path %>
